<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoreApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CoreApp.Properties.Settings>
            <setting name="DDLSTM" serializeAs="String">
                <value>ALTER~COMMENT ON~CREATE~DROP~FLASHBACK~PURGE~TRUNCATE</value>
            </setting>
            <setting name="ORAOBJ" serializeAs="String">
                <value>CLUSTER~CONSTRAINT~DATABASE LINK~TRIGGER~DIMENSION~LIBRARY~TABLE~INDEX~INDEXTYPES~JAVA CLASS~JAVA RESOURCE~JAVA SOURCE~MATERIALIZED VIEW~MATERIALIZED VIEW LOG~TYPE~OPERATOR~PACKAGE~SEQUENCE~FUNCTION~PROCEDURE~SYNONYM~TABLE~VIEW~CONTEXT~DIRECTORY~PFILE~SPFILE~PROFILE~ROLE~ROLLBACK SEGMENT~TABLESPACE~USER</value>
            </setting>
            <setting name="DMLSTM" serializeAs="String">
                <value>CALL~FROM~INTO~LOCK TABLE~MERGE~JOIN~INTO~UPDATE</value>
            </setting>
            <setting name="RSVDWRDS" serializeAs="String">
                <value>ACCESS~ADD~ALL~ALTER~AND~ANY~AS~ASC~AUDIT~BETWEEN~BY~CHAR~CHECK~CLUSTER~COLUMN~COMMENT~COMPRESS~CONNECT~CREATE~CURRENT~DATE~DECIMAL~DEFAULT~DELETE~DESC~DISTINCT~DROP~ELSE~EXCLUSIVE~EXISTS~FILE~FLOAT~FOR~FROM~GRANT~GROUP~HAVING~IDENTIFIED~IMMEDIATE~IN~INCREMENT~INDEX~INITIAL~INSERT~INTEGER~INTERSECT~INTO~IS~LEVEL~LIKE~LOCK~LONG~MAXEXTENTS~MINUS~MLSLABEL~MODE~MODIFY~NOAUDIT~NOCOMPRESS~NOT~NOWAIT~NULL~NUMBER~OF~OFFLINE~ON~ONLINE~OPTION~OR~ORDER~PCTFREE~PRIOR~PRIVILEGES~PUBLIC~RAW~RENAME~RESOURCE~REVOKE~ROW~ROWID~ROWNUM~ROWS~SELECT~SESSION~SET~SHARE~SIZE~SMALLINT~START~SUCCESSFUL~SYNONYM~SYSDATE~TABLE~THEN~TO~TRIGGER~UID~UNION~UNIQUE~UPDATE~USER~VALIDATE~VALUES~VARCHAR~VARCHAR2~VIEW~WHENEVER~WHERE~WITH</value>
            </setting>
            <setting name="ConfigName" serializeAs="String">
                <value />
            </setting>
        </CoreApp.Properties.Settings>
    </userSettings>
</configuration>